.confirmation-container > h6 {
    color: #EDEFEE;
    padding-top: 30px;
}

.confirmation-container > h1 {
    color: #F4CE14;
}

.icon {
    color: #F4CE14;
}

.confirmation-container > button {
    margin-top: 100px;
}

.confirmation-container {
    background-color: #495E57;
    padding: 10rem 2rem;
    text-align: center;
    height: 55vh;
}

