main {
    grid-area: main;
    /* padding: 1rem; */
    /* grid-column: span 12; */
}

.specials {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 80px auto;
}

.specials-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%;
    margin-bottom: 20px;
}

.dishes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonials {
    background-color: #fbdabb98;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    gap: 50px;
}

.testimonials > h2 {
    font-size: 2.0rem;
    color: #333333;
}

.ratings {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about {
    background-color: #333333;
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.about-desc {
    display: flex;
    flex-direction: column;
    width: 28%;
    padding-bottom: 50px;
}

.about-desc h1 {
    color: #F4CE14;
    margin-bottom: -15px;
}

.about-desc h6 {
    color: #EDEFEE;
    line-height: 1.4rem;
    font-weight: 400;
    margin-top: 20px;
}

.about-images {
    position: relative;
    width: 560px;
    height: max-content;
}

.about-images > img {
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.img1 {
    position: relative;
    top: 40px;
    /* left: 0px; */
}

.img2 {
    position: absolute;
    bottom: 40px;
    right: 0px;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
    .dishes {
        flex-direction: column;
    }
}

@media (max-width: 990px) {
    .ratings {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
